<img src="{{ gamesShow.game.cover_img }}" width="300">
<h2>{{ gamesShow.game.title }}</h2>
<p>{{ gamesShow.game.description }}</p>
<p><span>Critic rating: </span>{{ gamesShow.game.critic_rating }}</p>
<form ng-if="gamesShow.library" ng-submit="gamesShow.updateLibrary()">
  <div class="switch">
    <label>
      {{ gamesShow.library.played ? '' : 'Not' }} Played
      <br>
      <input id="played" value="{{gamesShow.library.played}}" type="checkbox" ng-model="gamesShow.library.played">
      <span class="lever"></span>
    </label>
    <br>
    <label>
      {{ gamesShow.library.owned ? '' : 'Not' }} Owned
      <br>
      <input id="owned" value="{{gamesShow.library.owned}}"  type="checkbox" ng-model="gamesShow.library.owned">
      <span class="lever"></span>
    </label>
  </div>
  <br>
  <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
</form>

<div ng-if="gamesShow.library">
  <ul class="commentsList">
    <h4>Comments:</h4>
    <li ng-hide="gamesShow.game.comments.length">No comments on this game yet</li>
    <li ng-repeat="comment in gamesShow.game.comments">
      <h6>{{comment.comment_poster.full_name}}</h6>
      <img class="profileThumbnail" src="{{comment.comment_poster.profile_img}}" alt="">
      <h6>{{comment.body}}</h6>
      <p>{{comment.created_at | timeAgo}}</p>
    </li>
  </ul>
  <form ng-submit="gamesShow.submitComment()">
    <input type="text" ng-model="gamesShow.newComment.body" placeholder="Tell us what you think">
  </form>
</div>
