// Import all of your scss files here

body {
  text-align: center;
}

.card{
  width: 280px;
  text-align: center;
}

img.activator {
  height: 344.8px;
}

div.card-content{
  height: 142px;
}

span.card-title.activator.grey-text.text-darken-4.ng-binding {
  font-weight: bold;
  font-size: 20px;
}

p.ng-binding {
  font-size: 9.6px;
}

i.material-icons.right {
  font-size:18px;
  font-style: normal;
  margin-right: 45%;
  font-weight: normal;
}

a.logo {
  margin-left: -68%;
}
