// Import all of your scss files here

body {
  text-align: center;
  font-family: 'Homenaje', sans-serif;
}

.card{
  width: 280px;
  text-align: center;
}

img.activator {
  height: 344.8px;
}

div.card-content{
  height: 142px;
}

span.card-title.activator.grey-text.text-darken-4.ng-binding {
  font-weight: bold;
  font-size: 24px;
}

p.ng-binding {
  font-size: 11.6px;
}

i.material-icons.right {
  font-size:18px;
  font-style: normal;
  margin-right: 45%;
  font-weight: normal;
}

a.logo {
  margin-left: -68%;
}

p.ng-binding.ng-scope {
  font-size: 18px;
}

.commentsList {
  text-align: left;
  li {
    margin: 10px 0;
    border: 1px solid black;
    min-height: 50px;
    .profileThumbnail {
      float: right;
      max-height: 50px;
      width: auto;
    }
  }
}
