<h3>Login</h3>
<div class="row">
  <form class="col s12" ng-submit="login.login()">
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="login.user.email" id="email" type="text" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12">
        <input ng-model="login.user.password" id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <input class="btn waves-effect waves-light" type="submit" value="submit" name="action">
  </form>
</div>
