<h3>Register</h3>
<div class="row">
  <form class="col s12" ng-submit="register.register()">
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="register.user.username" id="username" type="text" class="validate">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s6">
        <input ng-model="register.user.email" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="register.user.password" id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s6">
        <input ng-model="register.user.password_confirmation" id="password" type="password" class="validate">
        <label for="password_confirmation">Password Confirmation</label>
      </div>
      <div>
        <!-- <input class="btn waves-effect waves-light" type="submit" value="submit" name="action"> -->
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
      </form>
    </div>
